*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

.logo-text
{
    vertical-align: middle;
    display: inline-block;
    font-family: 'Dela Gothic One', cursive;
}

.logo-img
{   
    vertical-align: middle;
}

.container-header
{
    margin: 20px;
}
main
{
    padding-top: 50px;
    background-color: lightgray;
    min-height: 1000px;
}

.container-main
{
    max-width: 70%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}

.section-1
{   
    padding: 20px 35px;
    border-bottom: 1px solid lightgray;
}

.button-1
{   
    border-style: none;
    background-color: dodgerblue;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.button-2
{   
    border-style: none;
    background-color: white;
    padding: 10px;
    color: lightgray;
    border-radius: 5px;
    border: 1px solid lightgray;
}

li
{
    list-style: none;
    padding: 10px 0px;
}

.padding-custom
{
    padding: 20px 35px;
}

.editorial
{
    background-color: dodgerblue;
    font-size: 8px;
    padding: 6px 10px;
    color: white;
    border-radius: 10px;
}

.editorial
{
    background-color: dodgerblue;
    font-size: 8px;
    padding: 6px 10px;
    color: white;
    border-radius: 10px;
}

.q1-goals
{
    background-color: violet;
    font-size: 8px;
    padding: 6px 10px;
    color: white;
    border-radius: 10px;
}

.recruiting
{
    background-color: green;
    font-size: 8px;
    padding: 6px 10px;
    color: white;
    border-radius: 10px;
}

.mobile
{
    background-color: orange;
    font-size: 8px;
    padding: 6px 10px;
    color: white;
    border-radius: 10px;
}

.website
{
    background-color: pink;
    font-size: 8px;
    padding: 6px 10px;
    color: white;
    border-radius: 10px;
}

.sales
{
    background-color: greenyellow;
    font-size: 8px;
    padding: 6px 10px;
    color: white;
    border-radius: 10px;
}

.true
{
    color: green;
}

.false
{
    color: red;
}